<h3>North River YMCA</h3>
<p>Personal Trainer-----Chattanooga,TN</p>
<p class="YMCA date">Febuary 2021-Present</p>
<p>Responsibilites included:</p>
<ol>
  <li>
    Helping members with various things around the gym such as: Showing them how
    to use equipment, helping them find the appropriate exercises to do, helping
    them figure out the number of reps or time they should do certain things,
    etc
  </li>
  <li>
    Providing workouts to clients that fit their needs, lifestyle, or health
    needs; experienced with clients from ages 12-65 and a variety of health
    issues
  </li>
  <li>
    Creating a rapport with members and selling them on my training and ideals
  </li>
  <li>
    Teaching a Parkinson’s Boxing Class called Rocksteady; certified, and taught
    to train individuals with Parkinson’s
  </li>
</ol>

<h3>Stir Restaurant and Bar</h3>
<p>Barback/Server------Chattanooga,TN</p>
<p>June 2020-January 2021</p>
<p>Responsibilites included:</p>
<ol>
  <li>
    Assisting with opening and closing duties, such restocking the bar with
    garnishes, straws, and napkins, ensuring that Bartenders have clean towels,
    glassware, etc.
  </li>
  <li>Ensuring bar is well-stocked with ice, liquor, wine, and beer.</li>
  <li>
    Checking taps and appliances to confirm that they are working properly,
    making minor repairs or changing out kegs, if needed.
  </li>
  <li>
    Keeping the bar clean by wiping down surfaces, sweeping and mopping,
    removing soiled glassware, scrubbing coolers and storage areas, and emptying
    trash receptacles.
  </li>
  <li>
    Taking orders, preparing drinks, bussing tables, opening tabs, and
    processing payments especially during peak hours.
  </li>
  <li>Speaking to customers, answering questions, handling complaints.</li>
  <li>
    Maintain records and report levels of usage to assist in reordering process
    and ensuring that delivered items are stored properly
  </li>
  <li>Learning about menu items and memorizing cocktail recipes.</li>
</ol>

<h3>Southern Premier Roofing</h3>
<p>Claims Specialist-------Raleigh,NC</p>
<p>January 2020-June 2020</p>
<p>Responsibilites Included:</p>
<ol>
  <li>
    Create a friendly rapport with customers and guide them through the process
    of inspecting and replacing their roof if needed following inspection
  </li>
  <li>
    Efficiently and accurately relay pertinent information to the customer
    regarding options for replacement
  </li>
  <li>
    Serve as a liason between the insurance company and the customer to ensure
    the customer is satisfied with the end product and follow up on any concerns
  </li>
  <li>
    Provide efficient customer service to the customer from inspection through
    installation
  </li>
</ol>
