<header>Things I like to do:</header>
<ul>
  <li>Boxing</li>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.jQ6vJ7Nj4k_RKvHrF3BhFgHaEP%26pid%3DApi&f=1"
    alt="Knockout punch"
    width="200"
    height="200"
  />
  <li>Weightlifting</li>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse2.mm.bing.net%2Fth%3Fid%3DOIP.WQNXoG3ENgZnWrbda_WQrQHaE8%26pid%3DApi&f=1"
    alt="olympic weightlifter"
    width="200"
    height="200"
  />
  <li>Reading Comic Books</li>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse1.mm.bing.net%2Fth%3Fid%3DOIP.QgSwwO8FV8mHaeBvYZbk9AHaLP%26pid%3DApi&f=1"
    alt="The Flash"
    width="200"
    height="200"
  />
  <li>Hiking</li>
  <img
    src="https://external-content.duckduckgo.com/iu/?u=https%3A%2F%2Ftse4.mm.bing.net%2Fth%3Fid%3DOIP.ikOqwy2jSZA-rM5UXiQhAQHaEK%26pid%3DApi&f=1"
    alt="mountains and lake"
    width="250"
    height="200"
  />
</ul>
