<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content below * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * Delete the template below * * * * * * * * * * -->
<!-- * * * * * * * to get started with your project! * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<html lang="en">
  <header>Resume</header>
</html>
<div class="tab">
  <button
    class="tablinks"
    [routerLink]="'/educationpage'"
    routerLinkActive="true"
  >
    Education
  </button>
  <button
    class="tablinks"
    [routerLink]="'/Experiencepage'"
    routerLinkActive="true"
  >
    Experience
  </button>
  <button
    class="tablinks"
    [routerLink]="'/Hobbiespage'"
    routerLinkActive="true"
  >
    Hobbies
  </button>
  <button
    class="tablinks"
    [routerLink]="'/FavoriteWillFerrellMoveiespage'"
    routerLinkActive="true"
  >
    Favorite Will Ferrell Movies
  </button>
</div>

<!-- Tab content -->
<div id="Education" class="tabcontent">
  <app-education-page></app-education-page>
</div>

<div id="Experience" class="tabcontent">
  <h3><app-experience-page></app-experience-page></h3>
</div>

<div id="Hobbies" class="tabcontent">
  <h3><app-hobbies-page></app-hobbies-page></h3>
</div>

<div id="Favorite Will Ferrell Quotes" class="tabcontent">
  <h3>
    <app-favorite-will-ferrel-movies-page></app-favorite-will-ferrel-movies-page>
  </h3>
</div>

<router-outlet></router-outlet>
